.vscode/
copiapuntogit/
Initial*/
PDF_P17/
noEntregarSRC/
P1/sgp4dc/
P3/codigo/
P3/lambertTraduccion/python/lambert_env/
PORTAFOLIOS/P3_lambertTraduccion/python/lambert_env/
PORTAFOLIOS/tex/_markdown_main/
PORTAFOLIOS/tex/ejemplos.tex
MEMORIA/